.content-container {
  max-width: 1110px;
  width: 90%;
  margin: 0 auto;
}
.content-row {
  display: flex;
  flex-direction: row;
}
.content-title {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 34px;
  line-height: 140%;
  color: #0039A6;
}
.content-title-color {
  color: #D52B1E;
}
.content-button {
  background: #D52B1E;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  width: 31%;
  height: 60px;
  box-sizing: border-box;
  padding: 22px 0;
  border: none;
  text-decoration: none;
  display: block;
}
.content-button:hover {
  background: #BF2518;
}
.content-input {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #8E8F89;
  width: 31%;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  height: 60px;
  padding: 17px 20px;
  display: block;
}
.header {
  background: url("../../img/bg-header.png") no-repeat;
  background-size: cover;
  width: 100%;
  padding: 50px 0 0;
}
.header__heading {
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 160px;
  display: block;
}
.header__logo--icon {
  width: 100%;
  margin: 0;
}
.header__link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
}
.header__link:hover {
  color: #0039A6;
}
.header__content {
  width: 74.4%;
  margin: 0 auto;
  padding: 150px 0 266px;
}
.header__title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 60px;
}
.header__title--color {
  color: #D52B1E;
  text-transform: uppercase;
  -webkit-text-stroke: 1px navy;
  -webkit-text-stroke-color: #FFFFFF;
}
.header__form {
  justify-content: space-between;
  align-items: center;
}
.selection {
  margin: 140px 0;
}
.selection__content {
  justify-content: space-between;
}
.selection__name {
  margin-bottom: 30px;
  background: url("../../img/selection1.png") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  border-radius: 4px;
}
.selection__wrap {
  width: 31.6%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.selection__wrap--image {
  width: 100%;
}
.selection__title {
  margin-bottom: 60px;
  text-align: center;
  width: 97%;
}
.selection__title--inner {
  text-transform: uppercase;
}
.selection__button {
  padding: 13px;
  width: 45.5%;
  height: 44px;
}
.selection__image {
  width: 48%;
  margin-bottom: 30px;
}
.selection__image--inner {
  width: 100%;
}
.selection__block {
  width: 65.8%;
}
.selection__picture {
  justify-content: space-between;
}
.selection__slider {
  display: none;
  padding-bottom: 35px;
}
.selection__slider--image {
  width: 100%;
}
.paint {
  background: #F4F4F4;
  padding: 140px 0;
}
.paint__container {
  align-items: center;
  justify-content: space-between;
}
.paint__content {
  width: 48%;
}
.paint__button {
  width: 48%;
}
.paint__image {
  width: 49%;
}
.paint__title {
  margin-bottom: 30px;
}
.paint__text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #031332;
  opacity: 0.8;
  margin-bottom: 30px;
}
.work {
  margin: 140px 0;
}
.work__container {
  position: relative;
}
.work__title {
  text-align: center;
  margin-bottom: 60px;
}
.work__image {
  margin-bottom: 25px;
  width: 100%;
}
.work__text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #031332;
  opacity: 0.8;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}
.questions {
  background: #F4F4F4;
  padding: 70px 0;
}
.questions__content {
  justify-content: space-between;
}
.questions__info {
  width: 23%;
}
.questions__title {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 21px;
  line-height: 140%;
  color: #0039A6;
  margin-bottom: 10px;
}
.questions__title--color {
  color: #D52B1E;
}
.questions__text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  color: #031332;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.questions__form {
  justify-content: space-between;
  width: 74%;
}
.reviews {
  margin: 140px 0;
}
.reviews__container {
  position: relative;
}
.reviews__title {
  text-align: center;
  margin-bottom: 60px;
}
.reviews__image {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.4;
}
.swiper-button-next,
.swiper-button-prev {
  color: #0039A6;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #022A78;
  outline: none;
}
.swiper-button-prev {
  left: -11%;
}
.swiper-button-next {
  right: -11%;
}
.swiper-pagination {
  display: none;
}
.footer {
  background: #F4F4F4;
  padding: 140px 0 70px;
}
.footer__title {
  text-align: center;
  margin-bottom: 60px;
}
.footer__subtitle {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #0039A6;
  margin-bottom: 30px;
}
.footer__list {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #031332;
  mix-blend-mode: normal;
  opacity: 0.8;
  text-align: center;
}
.footer__content {
  width: 74.4%;
  justify-content: space-between;
  margin: 0 auto 10px;
}
.footer__form {
  width: 31%;
}
.footer__input {
  width: 100%;
  margin-bottom: 30px;
}
.footer__block {
  margin: 30px 0 20px;
  justify-content: space-between;
}
.footer__border {
  width: 100%;
  border-top: 2px rgba(250, 250, 250, 0.5) solid;
}
.footer__top {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #031332;
  text-decoration: none;
}
.footer__top:hover {
  color: #0039A6;
}
.footer__top--icon {
  margin-left: 7px;
}
.footer__logo {
  width: 160px;
  display: block;
  margin-right: 30px;
}
.footer__logo--icon {
  width: 100%;
  margin: 0;
}
.footer__link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
  opacity: 0.8;
  display: block;
}
.footer__info {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 120%;
  color: #000000;
  opacity: 0.8;
}
.footer__agreements {
  width: 64%;
  justify-content: space-between;
}
.footer__wrap {
  align-items: flex-end;
  justify-content: space-between;
}
.footer__wrapper {
  align-items: flex-end;
}
.footer__social {
  display: block;
  width: 25px;
  height: 25px;
}
.footer__social:not(:last-child) {
  margin-right: 20px;
}
.footer__social--icon {
  width: 100%;
}
.modal_div {
  max-width: 92%;
  width: 424px;
  padding: 70px;
  box-sizing: border-box;
  border-radius: 4px;
  background: #000000;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  opacity: 0;
  overflow: hidden;
  overflow-y: auto;
  z-index: 2001;
  transform: translate(-50%, -50%);
}
.modal_div .modal_wrapp {
  margin-bottom: 40px;
}
.modal_div .modal_close {
  width: 40px;
  height: 40px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  display: block;
  transition-duration: 0.3s;
  transform: rotate(45deg);
}
.modal_div .modal_close:hover {
  width: 50px;
  height: 50px;
  transform: rotate(315deg);
}
.modal_div .modal_close:before,
.modal_div .modal_close:after {
  content: '';
  display: block;
  background: #ffffff;
  position: absolute;
}
.modal_div .modal_close:before {
  height: 2px;
  top: 50%;
  left: 5px;
  right: 5px;
  transform: translate(0, -50%);
}
.modal_inner {
  width: 452px;
}
.modal_div .modal_close:after {
  width: 2px;
  top: 5px;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0);
}
.overlay {
  background-color: #000;
  opacity: 0.6;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 2000;
}
.modal_head {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 34px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 60px;
  color: #FFFFFF;
}
.modal_head-inner {
  text-transform: uppercase;
}
.modal_input {
  width: 100%;
  margin-bottom: 30px;
}
.modal_button {
  width: 100%;
}
/* end M O D A L */
@media screen and (max-width: 1500px) {
  .swiper-button-next {
    right: -5%;
  }
  .swiper-button-prev {
    left: -5%;
  }
}
@media screen and (max-width: 1200px) {
  .header__content {
    width: 93.4%;
  }
  .footer__agreements {
    width: 77%;
  }
  .questions__content {
    flex-direction: column;
  }
  .questions__info {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .questions__form {
    width: 100%;
  }
}
@media screen and (max-width: 990px) {
  .content-container {
    width: 94%;
  }
  .swiper-pagination {
    display: block;
  }
  .header__title {
    font-size: 31px;
  }
  .header__link {
    display: none;
  }
  .header__content {
    width: 100%;
    padding: 160px 0 275px;
  }
  .header__heading {
    justify-content: center;
  }
  .selection__title {
    margin-bottom: 40px;
  }
  .selection__button {
    width: 70.5%;
  }
  .content-title {
    font-size: 24px;
  }
  .selection__wrap {
    width: 31%;
  }
  .selection__block {
    width: 65.1%;
  }
  .selection__image {
    width: 47%;
  }
  .paint__text {
    font-size: 14px;
  }
  .paint__button {
    width: 65%;
  }
  .paint__image {
    width: 48%;
  }
  .work__title {
    margin-bottom: 40px;
  }
  .selection,
  .work,
  .reviews {
    margin: 100px 0;
  }
  .paint {
    padding: 100px 0;
  }
  .questions {
    padding: 60px 0;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  .reviews__slider,
  .work__slider {
    padding-bottom: 55px;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 0;
  }
  .swiper-pagination-bullet {
    background: rgba(0, 57, 166, 0.4);
    width: 20px;
    height: 20px;
  }
  .swiper-pagination-bullet:hover {
    outline: none;
  }
  .swiper-pagination-bullet-active {
    background: #0039A6;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
    margin: 0 15px 0 0;
  }
  .reviews__title {
    margin-bottom: 40px;
  }
  .footer {
    padding: 100px 0 50px;
    position: relative;
  }
  .footer__title {
    margin-bottom: 40px;
  }
  .footer__content {
    width: 82.4%;
  }
  .footer__form {
    width: 37%;
  }
  .footer__requisites {
    width: 48%;
  }
  .footer__agreements {
    width: 100%;
  }
  .footer__top {
    position: absolute;
    right: 3%;
    bottom: 13%;
  }
}
@media screen and (max-width: 576px) {
  .content-container {
    width: 90%;
  }
  .header {
    padding: 30px 0 0;
    background: url("../../img/bg-header-mobile.png") no-repeat;
    background-size: cover;
    background-position: center;
  }
  .header__title {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .header__content {
    padding: 58px 0;
  }
  .header__form {
    flex-direction: column;
  }
  .content-input {
    width: 100%;
    margin-bottom: 30px;
    padding: 13px 20px;
    height: 44px;
    font-size: 14px;
  }
  .content-button {
    width: 100%;
    padding: 13px 20px;
    height: 44px;
    font-size: 14px;
  }
  .selection__block,
  .selection__wrap--image {
    display: none;
  }
  .selection__wrap {
    width: 100%;
  }
  .content-title {
    font-size: 20px;
    text-align: center;
  }
  .selection,
  .work,
  .reviews {
    margin: 70px 0;
  }
  .selection__name {
    padding: 78px 0;
  }
  .selection__title {
    margin-bottom: 40px;
  }
  .selection__button {
    width: 63%;
    padding: 13px;
  }
  .paint,
  .questions {
    padding: 70px 0;
  }
  .paint__container {
    flex-direction: column;
  }
  .paint__text {
    font-size: 16px;
    text-align: center;
  }
  .paint__image {
    width: 100%;
    margin-bottom: 40px;
  }
  .paint__content {
    width: 100%;
  }
  .questions__form {
    flex-direction: column;
  }
  .swiper-slide {
    width: 78%;
  }
  .work__text {
    font-size: 13px;
  }
  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
  }
  .reviews__slider,
  .work__slider,
  .selection__slider {
    padding-bottom: 51px;
  }
  .footer__agreements {
    flex-direction: column;
    align-items: center;
  }
  .footer__content {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .footer__form {
    width: 100%;
    margin-bottom: 10px;
  }
  .footer__block,
  .footer__wrap,
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer__wrap,
  .footer__wrapper {
    flex-flow: column-reverse;
  }
  .footer__box {
    margin-bottom: 30px;
  }
  .footer__logo {
    margin: 0 0 30px;
  }
  .footer__title {
    margin-bottom: 40px;
  }
  .footer {
    padding: 70px 0 40px;
  }
  .footer__list {
    font-size: 12px;
  }
  .footer__link {
    margin-bottom: 10px;
  }
  .questions__title {
    font-size: 18px;
  }
  .footer__top {
    display: none;
  }
  .footer__requisites {
    width: 100%;
  }
  .selection__slider {
    display: block;
  }
  .modal_div {
    width: 320px;
    padding: 30px;
  }
  .modal_head {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .modal_div .modal_close {
    width: 25px;
    height: 25px;
  }
}
